@import "./button.scss";
@import "./typography.scss";

@mixin width($width) {
  width: $width;
  max-width: $width;
  min-width: $width;
}

@mixin height($height) {
  height: $height;
  max-height: $height;
  min-height: $height;
}

@mixin gap($gap) {
  gap: $gap;
}

@mixin border($border-style: none, $border-color: transparent, $border-radius: 0, $border-widths: none) {
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;

  @if $border-widths != none {
    border-width: $border-widths;
  }
}

@mixin flexible($ai: flex-start, $jc: flex-start, $fd: row, $fw: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-items: $ai;
  justify-content: $jc;

  @if $gap != 0 {
    gap: $gap;
  }
}