@mixin typography($fs: 16px, $fw: 400, $lh: 24px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin title-h1-medium {
  @include typography($fs: 24px,$fw: 500, $lh:36px);
}
@mixin title-h2-medium {
  @include typography($fs: 16px, $fw: 500,$lh: 24px);
}
@mixin text-regular {
  @include typography($fs: 16px, $fw: 400,$lh: 24px);
}