
// Main colors
$primary-color: #205EFF;
$primary-focus-color: #1E4FD0;
$secondary-color: #E2ECFF;
$error-color: #DF1919;
$success-color: #0ACC11;

// Gray colors
$gray-color-0: #ffffff;
$gray-color-20: #F6F6F6;
$gray-color-40: #EEEEEE;
$gray-color-60: #D2D2D2;
$gray-color-80: #787878;
$gray-color-100: #000000;

$colors: (
        "primary-color": #205EFF,
        "primary-focus-color": #1E4FD0,
        "secondary-color": #E2ECFF,
        "error-color": #DF1919,
        "success-color": #0ACC11,

        "gray-color-0": #ffffff,
        "gray-color-20": #F6F6F6,
        "gray-color-40": #EEEEEE,
        "gray-color-60": #D2D2D2,
        "gray-color-80": #787878,
        "gray-color-100": #000000,
);

