@import "colors";

:export {
  // Main colors
  primary: $primary-color;
  primary_focus: $primary-focus-color;
  secondary: $secondary-color;
  error: $error-color;
  success: $success-color;

  // Gray scaller colors
  gray_0: $gray-color-0;
  gray_20: $gray-color-20;
  gray_40: $gray-color-40;
  gray_60: $gray-color-60;
  gray_80: $gray-color-80;
  gray_100: $gray-color-100;
}